{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" type="text/css" href='/static/dashboard/crypto.css'>
<div class="crypto-container">
{% if crypto_list %}
    <table class="crypto-table">
        <tr class="crypto-row">
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>24h%</th>
            <th>Volume (24h)</th>
            <th>Tweets</th>
        </tr>
        {% for crypto in crypto_list %}
        <tr>
            <td>{{ crypto.symbol }}</td>
            <td>{{ crypto.name }}</td>
            <td>${{ crypto.price|floatformat:2|intcomma }}</td>
            {% if crypto.percent_change_24h > 0 %}
                <td class="crypto-green-value">+{{ crypto.percent_change_24h }}%</td> 
            {% else %}
                <td class="crypto-red-value">{{ crypto.percent_change_24h }}%</td> 
            {% endif %}
            <td>${{ crypto.volume_24h|floatformat:2|intcomma }}</td>
            <td>{{ crypto.tweets }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No cryptocurrencies are being tracked.</p>
{% endif %}
</div>
{% endblock %}